*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.container{
    background-color: rebeccapurple;
    color: white;
    padding: 50px;
    font-size: 30px;
}
